# Web Framework
fastapi
uvicorn[standard]
python-multipart

# LangChain
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters

# Vector Database
chromadb
langchain-chroma

# PDF Parsing
pypdf

# Environment Variables
python-dotenv
google-genai

# Utilities
pydantic
tqdm

# Logging
loguru
